@import "mytheme.scss";
@import "addons.scss";

// This file prefixes all rules with the theme name to avoid causing conflicts with other themes.
// The actual styles should be defined in mytheme.scss

.mytheme {
  @include addons;
  @include mytheme;
  
 .debugcolor{
 	background-color: grey;
 }
 
 -maincolor{
 	background-color: #f0f0f0; 
 }
 
 .border{
 	border-style: solid;
 	border-width: 5px;
 } 

}
